.mySlides{
    filter:brightness(50%);
    overflow: hidden;
    width:100%;
    object-position: 0px clamp(-100px, -10vw, 0px);

}

#slideshow {
    margin: 0px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);

}
